doctype html
html
    head
        meta(charset='utf8')
        base(href='/')
        title= "Grant-Hunter.ca" 
        //css libraries
        link(rel='stylesheet', href='/bootstrap-386/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
        //js libraries
        script(src='/js/jquery-2.1.1.min.js')
        script(src='/bootstrap-386/js/bootstrap.min.js')
        script(src='/js/app.js')

    body
        div.container-fluid
            div.row-fluid
                div.span10
                    h1.page-header 
                        |Grant-Hunter.ca
            div.row-fluid
                div.span10
                    h2.lead
                        span.label.label-important
                            |This site is currently under construction.<br>Please come back later to see what gets built!
            div.row-fluid
                div.span10
                    h2
                        |You can reach me at these places:
                    table.table.table-bordered.table-striped
                        tbody
                            tr
                                td
                                    |LinkedIn
                                td
                                    |https://www.linkedin.com/pub/grant-hunter/72/55b/6b9
                            tr
                                td
                                    |Github
                                td
                                    |https://github.com/grantdhunter
                            tr  
                                td
                                    |Email
                                td#email-address
                                    |Hover for Email

            //div.blink
                //|▄
                
